ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.side {
	color: white;
	text-decoration: none;
}
body{
	background-color: red;
	background-image: url("seamless-sky.jpg");
	font-family: "Times New Roman", Helvetica, sans-serif;
	font-size: 16px;
	color: #333334;
}
h1 {
	color: black;
	font-size: 26px;
}
.body {
	color: navy;
	text-decoration: none;
}